@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very_light_grayish_blue: hsl(210, 60%, 98%);
  --Light_grayish_blue_1: hsl(211, 68%, 94%);
  --Light_grayish_blue_2: hsl(205, 33%, 90%);
  --Grayish_blue: hsl(219, 14%, 63%);
  --Dark_grayish_blue: hsl(219, 12%, 42%);
  --Very_dark_blue: hsl(224, 21%, 14%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  background-color: var(--Grayish_blue);
}

.notification__container {
  margin: 5%;
  padding: 1rem;
  background-color: var(--White);
  border-radius: 5px;
}

.notification__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__subcontainer {
  display: flex;
  align-items: center;
}

.notification__title {
  color: var(--Very_dark_blue);
  font-weight: 800;
}

#notification__counter {
  background-color: var(--Very_dark_blue);
  color: var(--White);
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-weight: 800;
}

#notification__markAsRead {
  border: none;
  background-color: var(--White);
  color: var(--Dark_grayish_blue);
}

#notification__markAsRead:hover {
  cursor: pointer;
}

.notification__card-unread {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--Light_grayish_blue_1);
  display: flex;
}

.notification__card-read {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--White);
  display: flex;
}

.notification__card-avatar {
  width: 15%;
  height: 15%;
}

.notification__text-container {
  margin-left: 0.5rem;
  display: inline;
}

.notification__card-time {
  color: var(--Grayish_blue);
  margin-top: 0.5rem;
}

.red-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--Red);
}

.red-dot-read {
  display: none;
}

.notification__card-message {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--Grayish_blue);
}

.notification__card-photo {
  width: 15%;
  height: 15%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
